/**
  *1440px
  */
@media (max-width: 1440px) {
  .navWrap > nav {
    display: none;
  }
  .navWrap {
    grid-template-columns: 2fr 0.2fr 0.2fr;
  }
}
/**
  *1280px
  */
@media (max-width: 1280px) {
  .hero-text {
    font-size: 1.3rem;
  }
  /* .cardBox ul {
    flex-wrap: wrap;
    flex: 1;
    margin-top: 0;
  }
  .cardBox ul li {
    width: 100%;
    min-width: 200px;
    height: 40vh;
  }
  .cardBox ul li:nth-child(1) {
    margin-top: 6rem;
  }
  .cardBox ul li:nth-child(3) {
    margin-top: 0;
  }

  .cardBox ul li {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 1s;
  }

  .cardBox ul li:nth-child(1)::before,
  .cardBox ul li:nth-child(2)::before,
  .cardBox ul li:nth-child(3)::before {
    left: -8rem;
    bottom: -12rem;
  } */
}
/**
  *1024px
  */
@media (max-width: 1024px) {
  .hero .slider-btn {
    width: 7rem;
  }
  .mainTop,
  .mainBottom {
    grid-template-columns: 1fr;
  }
  .mainBottom .subText {
    order: initial;
  }

  #network {
    padding-top: 10rem;
  }

  .footerWrap {
    width: 99%;
    padding: 3rem;
    grid-template-columns: 1fr;
  }
  .footerLeft {
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .footerLeft a {
    display: block;
    width: 100%;
  }
  .footerLeft .fText {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .fText span,
  .fLink span {
    display: block;
  }
  .fLink span {
    margin-top: 1.5rem;
  }
  .fSite {
    width: 90%;
    margin: 0 auto;
  }
  .social {
    margin-top: 3rem;
  }
}
/**
  *768px
  */
@media (max-width: 768px) {
  .hero {
    min-height: 90vh;
  }
  .hero .slider-item {
    top: 45%;
  }
  .btns {
    bottom: 3rem;
  }
  .hero .slider-bg {
    width: 120%;
    height: 120%;
  }
  .hero-text {
    font-size: 1.4rem;
  }

  .hiddenNav .small {
    display: none;
  }

  .infoText {
    height: 60vh;
  }
  #info .img-box {
    height: 50vh;
  }

  .infoMain .subText {
    width: 80%;
    padding: 2.5rem 0;
  }
  .mainlogo {
    width: 600px;
    height: 600px;
    bottom: -8rem;
  }
  .text-box {
    transform: translateX(-3rem);
  }
  .hiddenNav ul li {
    text-align: center;
  }
  .mainTop,
  .mainBottom {
    height: initial;
  }
  .mainText {
    margin-bottom: -1rem;
  }
  .cardBox ul {
    flex-wrap: wrap;
    flex: 1;
    margin-top: 0;
  }
  .cardBox ul li {
    width: 100%;
    min-width: 200px;
    height: 40vh;
  }
  .cardBox ul li:nth-child(1) {
    margin-top: 6rem;
  }
  .cardBox ul li:nth-child(3) {
    margin-top: 0;
  }

  .cardBox ul li {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 1s;
  }

  .cardBox ul li:nth-child(1)::before,
  .cardBox ul li:nth-child(2)::before,
  .cardBox ul li:nth-child(3)::before {
    left: -8rem;
    bottom: -12rem;
  }

  #network {
    padding-bottom: var(--Bottom-02);
    padding-top: var(--Top-01);
  }
  #business {
    padding-top: var(--Top-02);
  }
}

/**
  *576px
  */

@media (min-width: 376px) and (max-width: 576px) {
  /**
  * INDEX
  */
  .hero {
    min-height: 100vh;
  }
  .hero .slider-btn {
    width: 4rem;
  }
  .btns {
    gap: 1rem;
  }
  .hiddenNav ul li a {
    font-size: 2rem;
  }
  .hiddenNav ul {
    gap: 2rem;
  }
  .navWrap #logo img {
    width: 70%;
  }
  .navWrap .lang {
    display: none;
  }
  .toggleBtn {
    width: 40px;
    height: 24px;
    justify-self: end;
  }
  .hero-title {
    font-size: 2.2rem;
  }
  .hero-text {
    font-size: 1.2rem;
    width: 70%;
    margin: 1rem auto 0;
  }

  .infoText h2 {
    font-size: 5rem;
    margin-top: -4rem;
  }
  .infoText h4 {
    font-size: 2.5rem;
  }

  .text-wrap {
    display: none;
  }
  .mainlogo {
    max-width: 400px;
    bottom: -17rem;
  }
  .topText p {
    font-size: 1.5rem;
  }
  .mainTop,
  .mainBottom {
    grid-template-rows: 50vh;
  }
  .cardBox ul li {
    height: 30vh;
  }
  ul li .boxText h5 {
    font-size: 1.5rem;
  }
  .cardBox ul li:nth-child(1)::after,
  .cardBox ul li:nth-child(2)::after,
  .cardBox ul li:nth-child(3)::after {
    background-size: 3rem;
  }
  #network {
    padding-bottom: 10rem;
  }

  .mainText .fontLight {
    margin-top: 1rem;
  }
  .netMap .dots span {
    width: 10px;
    height: 10px;
  }
}

/**
  *375px
  */
@media (max-width: 375px) {
  .hero .slider-btn {
    display: none;
  }
  .hiddenNav ul li a {
    font-size: 1.5rem;
  }
  .hiddenNav ul {
    gap: 2rem;
  }
  .navWrap #logo img {
    width: 60%;
  }
  .navWrap .lang {
    display: none;
  }
  .toggleBtn {
    width: 30px;
    height: 20px;
    justify-self: end;
  }
  .toggleBtn.active span:nth-of-type(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .toggleBtn.active span:nth-of-type(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .hero {
    height: 100vh;
  }
  .section-subtitle {
    font-size: 1rem;
  }
  .hero-title {
    font-size: 2rem;
  }
  .hero-text {
    font-size: 1rem;
  }
  .text-wrap {
    display: none;
  }
  .mainlogo {
    max-width: 400px;
    bottom: -17rem;
  }
  .infoText h4 {
    font-size: 2rem;
  }
  .topText p {
    font-size: 1.2rem;
  }
  .mainTop,
  .mainBottom {
    height: initial;
  }
  .infoMain h2 {
    font-size: 1.3rem;
  }
  .infoMain .subText p {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
  ul li .boxText h5 {
    font-size: 1.2rem;
  }
  ul li .boxText p {
    margin-top: 0;
    font-size: 0.8rem;
  }
  .cardBox ul li:nth-child(1)::after,
  .cardBox ul li:nth-child(2)::after,
  .cardBox ul li:nth-child(3)::after {
    background-size: 3rem;
  }
  #business {
    padding-top: var(--Top-03);
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #002aff;
    }
    100% {
      box-shadow: 0 0 0 10px #0421ff00;
    }
  }
  #network {
    padding-bottom: 10rem;
  }
  .netMap {
    transform: scale(1.2);
  }
  .netMap .dots span {
    width: 10px;
    height: 10px;
  }
  .footerLeft .fText {
    width: 100%;
    margin-bottom: 0rem;
  }
  .social {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  .social ion-icon {
    margin-right: 0;
  }
  .netText p {
    font-size: var(--fontSize-body-3);
    margin-bottom: 1rem;
  }
  .netText p span {
    font-size: 2rem;
  }
}
/**
  *320px
  */
@media (max-width: 320px) {
  .navWrap #logo img {
    width: 50%;
  }
  .hero-title {
    font-size: 1.8rem;
  }
  .infoText h4.visible {
    font-size: 2rem;
  }
  .infoText p.visible {
    font-size: 1.1rem;
  }
  .hero-text {
    font-size: 1.1rem;
  }
  .infoText {
    height: 60vh;
  }
  #info .img-box {
    height: 50vh;
  }

  .infoText h2 {
    font-size: 3.5rem;
  }
  .infoText h4 {
    font-size: 2rem;
  }

  .infoMain h2 {
    font-size: 1.5rem;
  }
  .infoMain .subText p {
    font-size: 1.1rem;
  }
  .cardBox ul li:nth-child(1)::after,
  .cardBox ul li:nth-child(2)::after,
  .cardBox ul li:nth-child(3)::after {
    background-size: 3rem;
  }
  .cardBox ul li:nth-child(1)::before,
  .cardBox ul li:nth-child(2)::before,
  .cardBox ul li:nth-child(3)::before {
    left: -5rem;
    bottom: -5rem;
  }
  .navWrap {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  .mainlogo {
    max-width: 300px;
    bottom: -17rem;
  }
  .logo-container {
    bottom: -6rem;
  }
  #business {
    padding-top: 3rem;
  }
  .mainText {
    margin-bottom: 2.5rem;
  }
  .cardBox ul {
    flex-wrap: wrap;
    flex: 1;
    margin-top: 0;
    gap: 4rem;
  }
  .cardBox ul li {
    width: 100%;
    min-width: 200px;
    height: 40vh;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 1s;
  }
  .cardBox ul li:nth-child(1) {
    margin-top: 2rem;
  }
  .cardBox ul li:nth-child(3) {
    margin-top: 0;
  }

  .cardBox ul li:nth-child(1)::before,
  .cardBox ul li:nth-child(2)::before,
  .cardBox ul li:nth-child(3)::before {
    left: -8rem;
    bottom: -10rem;
  }
  .cardBox ul li .boxText {
    left: 1rem;
    top: 1rem;
  }

  .mainText h5 {
    font-size: var(--fontSize-body-3);
  }
  .netMap .dots span {
    width: 5px;
    height: 5px;
  }
  #network {
    padding-top: 10rem;
    padding-bottom: 8rem;
  }

  .mainText h2 {
    font-size: 2rem;
  }
  .netMap {
    display: flex;
    justify-content: center;
  }
  .netMap img {
    width: 100%;
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #002aff;
    }
    100% {
      box-shadow: 0 0 0 10px #0421ff00;
    }
  }
}
