/*-----------------------------------*\
  #SUB - intro
\*-----------------------------------*/
body.sub1-body {
  color: #fff;
  overflow-x: hidden;
  background: var(--bg-color);
}
/*공통 */
.subMenu {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navWrap ul a.clicked {
  color: var(--main-color);
  font-weight: bold;
}

.subMenu.subMenu1 {
  background: url(../image/busybusiness.jpg) center/cover no-repeat;
}
.subMenu h3 {
  font-size: var(--fontSize-title-1);
  margin-top: 8rem;
}
#intro {
  width: 100%;
  background: url(../image/building.jpg) center/cover no-repeat,
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  padding-bottom: var(--Bottom-01);
  background-blend-mode: darken;
}
.introText {
  padding-top: 10rem;
  white-space: nowrap;
}
.introText h2 {
  font-size: var(--main-text);
  white-space: nowrap;
}
.introText h3 {
  font-size: var(--sub-text);
  font-weight: 300;
  margin-top: -1rem;
  margin-left: 0.5rem;
}
.introWrap {
  width: 90%;
  margin: 0 auto;
}
.introWrap .circles + h3 {
  width: 67%;
  margin: 0 auto;
  text-align: center;
  font-size: var(--fontSize-title-3);
  white-space: wrap;
  word-break: keep-all;
}

/* circles */
.circles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 0;
  column-gap: 2rem;
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid lime; */
}

.circles svg {
  height: 100%;
  width: 150%;
}
svg:nth-of-type(1) {
  transform: translateX(-2rem);
}
svg:nth-of-type(2) {
  transform: translateX(-8rem);
}
svg:nth-of-type(3) {
  transform: translateX(-13rem);
}

@keyframes moveBorder {
  0% {
    opacity: 0;
    stroke-dashoffset: 628;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0; /* (2 * Math.PI * 100) */
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.circles svg.start-animation circle {
  animation: moveBorder 2s ease-out forwards;
}

.circles svg.start-animation text {
  animation: reveal 2s ease-out forwards;
}
.circles svg circle.anime {
  opacity: 0;
  stroke-dasharray: 628;
}
.circles svg text.text {
  opacity: 0;
  fill: #fff;
  font-size: 0.7rem;
}

.text.head {
  font-weight: bold;
  font-size: 1rem;
}
.circles svg.start-animation circle.anime1 {
  animation-delay: 1s;
}

.circles svg.start-animation circle.anime2 {
  animation-delay: 3s;
}

.circles svg.start-animation circle.anime3 {
  animation-delay: 5s;
}

.circles svg.start-animation text.text1 {
  animation-delay: 2s;
}

.circles svg.start-animation text.text2 {
  animation-delay: 4s;
}

.circles svg.start-animation text.text3 {
  animation-delay: 6s;
}
/* .text1 {
  animation-delay: 4s;
}
.text2 {
  animation-delay: 6s;
}
.text3 {
  animation-delay: 8s;
}

.anime1 {
  animation-delay: 2s;
}
.anime2 {
  animation-delay: 4s;
}
.anime3 {
  animation-delay: 6s;
} */

/*-----------------------------------*\
 intro - subIntro
\*-----------------------------------*/
#subIntro {
  background-color: #0c0f28;
  background-image: url(../image/text01.png);
  background-repeat: no-repeat;
  background-position: 40% 10%;
  position: relative;
  overflow: hidden;
}
#subIntro .imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  max-height: 160vh;
  column-gap: 2rem;
  row-gap: 20rem;
  margin-top: 20rem;
  /* border: 1px solid red; */
}
#subIntro .imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#subIntro .img-box:nth-of-type(1) {
  width: 70%;
  height: 100%;
}
#subIntro .img-box:nth-of-type(2) {
  width: 100%;
  height: 70%;
  align-self: center;
  margin-top: 2rem;
}
#subIntro .img-box:nth-of-type(3) {
  grid-column: span 2; /* 2개의 열을 차지 */
}

#subIntro .subText h3 {
  font-size: 1.5rem;
  width: 35%;
  position: absolute;
  top: 55%;
  left: 10%;
  line-height: 1.5;
}
#subIntro .subText h3 + img {
  position: absolute;
  right: 0;
  top: 62%;
}
.groupText {
  position: absolute;
  top: 72%;
  left: 10%;
}
.groupText .imgText {
  position: relative;
  /* border: 1px solid red; */
}
.groupText .imgText p {
  font-size: var(--fontSize-display-1);
  font-weight: bold;
}
.groupText .imgText img {
  width: 10%;
  position: absolute;
  top: -1rem;
  right: 6rem;
}
.groupText .imgText ~ p {
  font-size: var(--fontSize-body-1);
}
/*-----------------------------------*\
 intro - partners
\*-----------------------------------*/
#partners {
  width: 100%;
  padding-top: 15rem;
  padding-bottom: 15rem;
}
#partners .mainText2 {
  width: 90%;
  margin: 0 auto;
}

.partner01,
.partner02 {
  overflow: hidden;
  display: flex;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
  margin-top: 10rem;
}
.partner01 div,
.partner02 div {
  display: flex;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
}
.partner01 div:nth-child(2) {
  animation: animate2 var(--t) linear infinite;
  animation-delay: calc(var(--t) / -2);
}
.partner02 div {
  animation: animate3 var(--t) linear infinite;
  margin-top: 3rem;
}
.partner02 div:nth-child(2) {
  animation: animate4 var(--t) linear infinite;
  animation-delay: calc(var(--t) / -2);
}

#partners img {
  width: 17rem;
  margin-right: 13rem;
}
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate4 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

/*-----------------------------------*\
  #SUB - business
\*-----------------------------------*/
body.sub2-body {
  overflow-x: hidden;
  background: var(--bg-color);
  color: #fff;
}
.subMenu.subMenu2 {
  background: url(../image/rainbow-fountain.jpg) center/cover no-repeat;
}

#value {
  background-color: #03131e;
  padding-top: var(--Top-02);
  padding-bottom: var(--Bottom-01);
}
#dragBtn {
  display: none;
  position: absolute;
  z-index: 9999; /* 이미지가 위에 표시되도록 z-index를 조정합니다. */
  pointer-events: none; /* 이미지가 마우스 이벤트를 가로채지 않도록 pointer-events를 none으로 설정합니다. */
}
#value .mainText2 {
  width: 90%;
}
.valueimgs {
  display: grid;
  grid-template-columns: 700px 500px 500px 800px;
  align-items: center;
  gap: 3rem;
  overflow: hidden;
  position: relative;
  transform: translate(10%, 10%);
}

.valueimgs::-webkit-scrollbar {
  display: none;
}
.imgWith {
  position: relative;
  height: 50vh;
  user-select: none;
  min-width: 100%;
}
.imgWith .imgText {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
}
.imgWith .imgText p {
  font-size: var(--fontSize-body-1);
  font-weight: bold;
}
.valueimgs .imgWith:nth-child(1) {
  background: url(../image/cityscape.jpg) center/cover no-repeat;
}
.valueimgs .imgWith:nth-child(2) {
  background: url(../image/building.jpg) center/cover no-repeat;
}
.valueimgs .imgWith:nth-child(3) {
  background: url(../image/global-business.jpg) center/cover no-repeat;
}
.valueimgs .imgWith:nth-child(4) {
  background: url(../image/crane-construction-building.jpg) center/cover
    no-repeat;
}
/* #bus */
#bus {
  position: relative;
  width: 100%;
  padding-top: var(--Top-02);
  padding-bottom: var(--Bottom-02);
}
#bus .mainText2 {
  margin: initial;
}
#bus .wrapCenter {
  width: 80%;
  margin: 0 auto;
  padding-top: var(--pdTop-11);
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  align-items: center;
}
#bus .all {
  padding: 0.5rem;
  font-size: 1rem;
  height: 3rem;
  width: 8rem;
  outline: none;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  justify-self: end;
}

.backImg {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#bus .backImg {
  background-image: url(../image/bridge.jpg);
  filter: brightness(50%);
}
.busContent {
  padding-bottom: var(--pdBom-15);
}
.busContent ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  margin-top: 5rem;
}
.busContent li {
  width: 80%;
  background: #ffffff;
  border-radius: 20px;
  color: #000;
  overflow: hidden;
  cursor: pointer;
}
.busContent li .itemHead {
  display: grid;
  grid-template-columns: 0.7fr 3fr 1fr;
  margin: 0 5rem;
  align-items: center;
  height: 100px;
}
.itemHead span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
  background-color: #2a3270;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}
.itemHead strong {
  font-size: 1.5rem;
}
.itemHead .dropBtn {
  justify-self: end;
  font-size: 1.5rem;
}
.itemContent {
  background-color: #ffffff;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-out;
  border-radius: 0 0 20px 20px;
}

.itemWrap {
  padding: 3rem 3rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.itemWrap .itemText h3 {
  margin-bottom: 20px;
}

.active .itemContent {
  border-top: 1px solid rgb(185, 185, 185);
}

.itemContent .itemImg img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* .sticky_parent */

.sticky_parent {
  height: 300vh;
}
.sticky_parent .mainText2 {
  margin-left: 10rem;
  margin-right: 5rem;
  margin-top: 15rem;
  align-self: flex-start;
}
.sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}
.scroll_section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 300vw;
  /*     .sticky_parent와 같도록  */
  will-change: transform;
  display: flex;
  align-items: center;
  gap: 8rem;
}
.sticky_parent .backImg {
  background-image: url(../image/creative-digital.jpg);
}
.innoCon1 {
  width: 15%;
  height: 60vh;
  background-color: #fff;
  border-radius: 1rem;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.innoCon1 img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.innoCon1 p {
  font-size: 1.5rem;
  text-align: center;
  padding: 4rem 5rem 2.5rem;
}
.innoCon2 {
  background: #2c40da;
  width: 28%;
  height: 60vh;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 1rem;
}
.innoCon2 p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.innoCon2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-left: 3rem;
}

.innoCon2 ul li {
  text-align: center;
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innoCon2 .imgPosi {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innoCon2 .plusIcon {
  width: 15%;
  position: absolute;
  bottom: 7rem;
  right: 1rem;
}
.innoCon2 ul li:first-child .plusIcon {
  right: -2rem;
}
.innoCon2 ul li:nth-of-type(2) .plusIcon {
  right: -1rem;
}
.innoCon2 ul li:nth-of-type(3) .plusIcon {
  right: 0rem;
}
.innoCon2 .num {
  font-size: 4.5rem;
  font-weight: bold;
  margin: 2rem 0;
  position: relative;
}

.innoCon2 ul li p {
  margin-top: -30px;
  white-space: wrap;
}
.innoCon2 ul li img {
  width: 60%;
  object-fit: cover;
}
.innoCon2 ul li:nth-of-type(3) img:not(.plusIcon) {
  width: 50%;
}
.innoCon3 {
  width: 40%;
  height: 60vh;
  display: flex;
  position: relative;
}

.innoCon3 h2 {
  position: absolute;
  font-size: 4rem;
  z-index: 1;
  bottom: 2rem;
  left: 35rem;
  width: 40%;
}
.innoCon3 p {
  position: absolute;
  font-size: 2rem;
  z-index: 1;
  width: 40%;
  right: 3rem;
}
.innoCon3 img {
  width: 500px;
  height: 300px;
  border-radius: 2%;
  object-fit: cover;
  position: absolute;
}
.innoCon3 img:nth-of-type(2) {
  right: 0;
  bottom: 0;
}
/* #innoGood  */

#innoGood {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#innoGood h3 {
  color: #fff;
  font-size: var(--fontSize-headline-2);
}
#innoGood .wrapCenter {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}
#innoGood .wrapCenter .mainText2 {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.innoText {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.innoText li {
  font-size: 1.7rem;
}
.innoText li:not(:last-child) {
  margin-bottom: 4rem;
}
#innoGood .backImg {
  background-image: url(../image/busybusiness.jpg);
}
/*-----------------------------------*\
  #SUB - esg
\*-----------------------------------*/
body.sub3-body {
  color: #fff;
}
.subMenu3 {
  background: url(../image/nature3.jpg) center/cover no-repeat;
}
#esg {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 13rem;
}
#esg > h2 {
  padding-bottom: 13rem;
  font-size: var(--fontSize-title-4);
  color: var(--text-dark1);
}
#esg img {
  width: 80%;
}
.esgIcons {
  width: 100%;
  height: 100vh;
  color: #000;
  position: relative;
  background: url("../image/esg.png") center/contain no-repeat;
}

.esgIcons .iconSvg {
  width: 300px;
  margin-bottom: 2rem;
}

.esgIcons h2 {
  color: var(--main-color2);
  font-size: var(--fontSize-body-1);
}
.esgIcons p {
  font-size: var(--fontSize-body-3);
  margin-top: 1rem;
}
.esgIcons .icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.esgIcons .icon:nth-of-type(1) {
  left: 50%;
  transform: translateX(-50%);
  top: -5%;
}
.esgIcons .icon:nth-of-type(2) {
  left: 50%;
  transform: translateX(-50%);
  bottom: -5%;
}
.esgIcons .icon:nth-of-type(3) {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.esgIcons .icon:nth-of-type(4) {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
/* #respon */
#respon {
  width: 100%;
  padding-top: 20rem;
  padding-bottom: 15rem;
}
#respon .twoCol {
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  gap: 5rem;
  width: 100%;
  height: 45vh;
}

.twoCol .colLeft {
  margin-left: 8rem;
  position: relative;
  word-break: keep-all;
}
.twoCol .colLeft .arBtn {
  position: absolute;
  display: flex;
  gap: 2rem;
  right: 1rem;
  bottom: 2rem;
}
.twoCol .colLeft .arBtn button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--main-color2);
  border: none;
  outline: none;
  color: #fff;
  font-size: var(--fontSize-body-1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.twoCol .colLeft h2 {
  font-size: var(--fontSize-title-3);
  color: var(--text-dark1);
}
.twoCol .colLeft p {
  font-size: var(--fontSize-body-3);
  color: var(--text-dark1);
  margin-top: 2rem;
}
/* slider  */
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  cursor: pointer;
  overflow: hidden;
}
.swiper-slide img {
  transition: 0.5s;
  transform: scale(1);
}
.swiper-slide:hover img {
  transform: scale(1.1);
}
/* #report  */
#report {
  background: url(../image/nature3.jpg) center/cover no-repeat;
  height: 80vh;
}
#report .twoCol {
  display: grid;
  grid-template-columns: minmax(300px, 700px) minmax(100px, 400px);
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  word-break: keep-all;
}

.reportLeft h2 {
  font-size: var(--fontSize-title-2);
  margin-bottom: 2rem;
}
.reportLeft p {
  font-size: var(--fontSize-body-3);
  line-height: 1.6;
}
.reportRight {
  font-size: var(--fontSize-body-3);
}
.reportRight ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.reportRight ul li {
  border-bottom: 1px solid #fff;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.reportRight ul li span {
  justify-self: end;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
.reportRight li:hover span {
  animation: moveArrow 0.6s infinite alternate;
}

@keyframes moveArrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5px);
  }
}
/*-----------------------------------*\
  #SUB - marketing
\*-----------------------------------*/
body.sub4-body {
  color: #fff;
}
.subMenu4 {
  background: url(../image/usingphone.jpg) center/cover no-repeat;
}
#news {
  width: 100%;
  position: relative;
}
#news .backImg {
  background-image: url(../image/back3.jpg);
}
.stikyCo {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-top: 15rem;
  gap: 0rem;
}
.stikyCo .mainText2 {
  width: 40%;
  height: 45vh;
  min-height: 200px;
  position: sticky;
  top: 9rem;
}
.stikyCo .newCon {
  flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
}
.newCon ul {
  position: relative;
  width: 100%;
  height: 210vh;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}
.newCon ul li {
  position: absolute;
  width: 350px;
  height: 60vh;
}
.newCon ul li img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  transition: 1s;
}
.newCon figure:hover img {
  transform: scale(1.1);
}
.newsText {
  padding: 2rem 1rem 0;
  word-break: keep-all;
}
.newsText h3 {
  margin-bottom: 1rem;
}
.newCon ul li:nth-of-type(1) {
  right: 0rem;
}
.newCon ul li:nth-of-type(2) {
  top: 40rem;
}
.newCon ul li:nth-of-type(3) {
  right: 0rem;
  top: 80rem;
}

.newCon figure {
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

#infoCon {
  width: 100%;
  background-color: #f7f7f7;
}
#infoCon button {
  background-color: transparent;
  outline: none;
  padding: 1rem;
  border-radius: 2rem;
  height: 2.5rem;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twoCol .infoConLeft button {
  width: fit-content;
  color: #fff;
}

#infoCon h2 {
  font-size: var(--fontSize-body-1);
}
#infoCon .twoCol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60vh;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  padding: 10rem 0;
  background-color: #f7f7f7;
}
.twoCol .infoConLeft {
  position: relative;
  padding: 2rem 0 0 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  overflow: hidden;
  z-index: 1;
}
.infoConLeft video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 동영상 비율 유지 */
  z-index: -1; /* 다른 콘텐츠 위에 배치하기 위해 */
}

.twoCol .infoConRight {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  height: 100%;
}
.infoConRight button {
  width: 100px;
}

.infoConRight .rightOne,
.infoConRight .rightTwo {
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 2rem;
  height: 100%;
  display: grid;
  color: var(--text-dark1);
}
.rightOne .topPo,
.rightOne .btPo,
.rightTwo .topPo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}

.rightOne .topPo {
  align-items: start;
}
.rightOne .topPo button,
.rightTwo .topPo button {
  justify-self: end;
}
.rightOne .btPo {
  align-items: end;
}
.rightOne .btPo p {
  justify-self: end;
  font-size: 1.5rem;
}
.rightOne .btPo p ion-icon {
  font-size: 1.3rem;
  margin-right: 1rem;
  color: #e35353;
}
.rightTwo .btPo {
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  height: 100%;
}
.rightTwo .btPo ul {
  list-style-type: disc;
}
.rightTwo .btPo li {
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-left: 1.5rem;
  cursor: pointer;
}
/* button */
.animated-button {
  position: relative;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 20px;
  fill: #353535;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.animated-button:hover svg {
  fill: #fff;
}
.animated-button .arr-1 {
  right: -7.5rem;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #2a3270;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .more {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
}

.animated-button:hover .arr-1 {
  right: -10rem;
}

.animated-button:hover .arr-2 {
  left: 45%;
}

.animated-button:hover .more {
  transform: translateX(12px);
  color: #fff;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
