/***********************

1440px

**************************/
@media (max-width: 1440px) {
  /* 1440intro */
  #intro {
    padding-bottom: var(--Bottom-02);
  }
  #subIntro .subText h3 {
    width: 60%;
    top: 58%;
    word-break: keep-all;
  }
  #subIntro .subText h3 + img {
    display: none;
  }

  svg:nth-of-type(1) {
    transform: translateX(0rem);
  }
  svg:nth-of-type(2) {
    transform: translateX(-5rem);
  }
  svg:nth-of-type(3) {
    transform: translateX(-10rem);
  }
  /* 1440business */
  #innoGood .wrapCenter {
    width: fit-content;
    height: fit-content;
  }
  #innoGood h3 {
    text-align: left;
  }
  .innoCon1 img {
    width: 250px;
    height: 250px;
  }
  .innoCon1 p {
    padding: 2rem 5rem 2.5rem;
    font-size: 1.5rem;
  }
  .innoCon3 h2 {
    left: 25rem;
    font-size: 3rem;
  }
  .innoCon3 p {
    width: 50%;
    font-size: 1.8rem;
    right: -15rem;
  }
  #innoGood .wrapCenter .mainText2 {
    margin-bottom: 0;
    text-align: center;
  }

  /* 1440esg */
  #esg > h2 {
    word-break: keep-all;
    width: 80%;
    margin: 0 auto;
  }
  #esg {
    padding-top: 10rem;
  }
  #report .twoCol {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  .esgIcons h2 {
    font-size: 1.5rem;
  }
  .esgIcons .icon:nth-of-type(4) {
    left: -5rem;
  }
  .esgIcons .icon:nth-of-type(3) {
    right: -5rem;
  }
  #respon .twoCol {
    gap: 3rem;
  }
  /* 1440marketing */
  .newCon ul {
    height: 220vh;
    min-height: initial;
  }
  .newCon figure {
    height: 40vh;
  }
  .animated-button .more {
    transform: translateX(-10px);
  }
  .animated-button .arr-1 {
    right: -4.2rem;
  }
  .animated-button:hover .arr-2 {
    left: 18%;
  }
}

/***********************

1280px

**************************/
@media (max-width: 1280px) {
  /* 1280intro */

  .subText h3 {
    width: 50%;
  }
  .groupText {
    top: 80%;
  }

  /* 1280business*/
  .sticky_parent {
    height: 400vh;
  }
  .scroll_section {
    width: 400vw;
  }
  .innoCon1 {
    width: 15%;
  }
  .innoCon1 img {
    width: 250px;
    height: 250px;
  }
  .innoCon2 {
    width: 25%;
    padding: 3rem;
  }
  .innoCon2 .num {
    font-size: 3rem;
  }

  .innoCon2 ul li:first-child .plusIcon,
  .innoCon2 ul li:nth-of-type(2) .plusIcon,
  .innoCon2 ul li:nth-of-type(3) .plusIcon {
    right: 0rem;
    bottom: 5rem;
  }
  .innoCon3 {
    width: 30%;
  }
  .imgWith {
    height: 60vh;
  }
  .newCon ul {
    height: 240vh;
  }
  /* 1280esg */

  #respon .twoCol {
    gap: 1rem;
  }
  .twoCol .colLeft .arBtn {
    margin-top: 5rem;
  }
  #respon .twoCol {
    grid-template-columns: 1fr;
  }
  .twoCol .colLeft {
    width: 80%;
    margin: 0 auto;
    height: 32vh;
  }
  .swiper {
    width: 80%;
    margin: 0 auto;
    height: 40vh;
  }
  #report {
    margin-top: var(--Top-01);
  }
}
/***********************

1024px

**************************/
@media (max-width: 1024px) {
  /* 1024intro */

  .circles {
    grid-template-columns: 1fr;
  }
  svg:nth-of-type(1),
  svg:nth-of-type(2),
  svg:nth-of-type(3) {
    transform: translateX(5rem);
    width: 600px;
  }
  .subText h3 + img {
    display: none;
  }
  #subIntro .subText h3 {
    top: 56%;
    width: 60%;
  }
  .groupText {
    top: 70%;
  }
  .groupText .imgText img {
    right: 8rem;
  }
  #subIntro {
    background-size: 90%;
    background-position: 6rem 15rem;
  }
  #esg > h2 {
    padding-bottom: 10rem;
  }
  #respon {
    padding-top: 10rem;
  }
  /* 1024business */
  .itemHead strong {
    margin-left: 2rem;
  }
  .innoCon2 {
    grid-template-columns: 1fr;
    padding: 4rem;
    text-align: center;
  }

  /* 1024marketing */
  .newCon ul li {
    width: 300px;
  }
  #infoCon .twoCol {
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 50vh;
  }

  .animated-button .more {
    transform: translateX(0px);
  }
  .animated-button:hover .more {
    transform: translateX(0px);
  }
  .animated-button .arr-1,
  .animated-button .arr-2 {
    display: none;
  }
  /* 1024esg */
  .esgIcons {
    background-image: none;
    height: 150vh;
  }

  .esgIcons .icon:nth-of-type(1) {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
  .esgIcons .icon:nth-of-type(2) {
    left: 50%;
    transform: translateX(-50%);
    top: 25rem;

    bottom: inherit;
  }
  .esgIcons .icon:nth-of-type(3) {
    left: 50%;
    transform: translateX(-50%);
    top: 50rem;

    right: inherit;
  }
  .esgIcons .icon:nth-of-type(4) {
    left: 50%;
    transform: translateX(-50%);
    top: 75rem;
  }
}
/***********************

768px
**************************/
@media (max-width: 768px) {
  /* 768intro */
  .introText {
    padding: 10rem 2rem;
  }
  svg:nth-of-type(1),
  svg:nth-of-type(2),
  svg:nth-of-type(3) {
    transform: translateX(0rem);
    width: 600px;
  }
  .circles svg.start-animation circle.anime1 {
    animation-delay: initial;
  }
  .circles svg.start-animation circle.anime2 {
    animation-delay: 1s;
  }
  .circles svg.start-animation text.text2 {
    animation-delay: 3s;
  }
  .circles svg.start-animation circle.anime3 {
    animation-delay: 2s;
  }
  .circles svg.start-animation text.text3 {
    animation-delay: 4s;
  }
  .introText h3 {
    font-size: 3rem;
  }
  #subIntro .subText h3 {
    width: 80%;
    top: 55%;
  }
  #subIntro .imgs {
    row-gap: 20rem;
  }
  #partners {
    padding-top: 10rem;
  }
  .groupText {
    top: 75%;
  }
  .groupText .imgText ~ p {
    font-size: 1.5rem;
  }
  .groupText .imgText img {
    right: 6rem;
  }
  #intro {
    padding-bottom: var(--Bottom-02);
  }
  .backtoTop {
    bottom: 15rem;
  }
  /* 768business */
  #bus .wrapCenter {
    grid-template-columns: 1fr;
  }
  #bus .all {
    justify-self: start;
    margin-top: 2rem;
  }
  #value {
    padding-bottom: var(--Bottom-02);
  }
  .valueimgs {
    grid-template-columns: 500px 400px 400px 500px;
  }
  .imgWith {
    height: 40vh;
  }
  #value .mainText2 {
    width: 80%;
  }
  .itemWrap {
    grid-template-columns: 1fr;
  }
  .busContent li .itemHead {
    height: 80px;
  }
  .itemHead strong {
    font-size: 1.2rem;
  }
  .itemContent .itemImg img {
    width: 100%;
  }

  .sticky_parent {
    height: 540vh;
  }
  .scroll_section {
    width: 540vw;
  }
  .innoCon1 {
    width: 15%;
  }
  .innoCon1 img {
    width: 250px;
    height: 250px;
  }
  .innoCon2 {
    width: 20%;
    padding: 3rem;
  }
  .innoCon2 .num {
    font-size: 3rem;
  }
  .innoCon3 {
    width: 27%;
  }
  .innoCon1 p {
    font-size: 1.5rem;
  }
  .innoCon2 ul li:first-child .plusIcon,
  .innoCon2 ul li:nth-of-type(2) .plusIcon,
  .innoCon2 ul li:nth-of-type(3) .plusIcon {
    right: 0rem;
    bottom: 5rem;
  }

  .innoCon3 h2 {
    left: 20rem;
    font-size: 2.5rem;
  }

  .innoCon3 p {
    font-size: 1.5rem;
    right: -15rem;
    width: 60%;
  }
  #innoGood h3 {
    text-align: center;
  }
  .innoText li {
    font-size: 1.3rem;
  }
  #innoGood .wrapCenter {
    grid-template-columns: 1fr;
  }
  #innoGood .wrapCenter .mainText2 {
    text-align: center;
  }
  /* 768marketing */
  .stikyCo {
    flex-wrap: wrap;
    padding-top: 10rem;
    justify-content: center;
  }
  .stikyCo .mainText2 {
    width: 100%;
    position: inherit;
    height: 5vh;
    margin-bottom: 1rem;
  }

  .newCon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .newCon ul {
    width: 350px;
    margin: 8rem auto 0;
    height: 190vh;
    align-items: center;
  }
  .newCon ul li {
    width: 100%;
    height: 45vh;
  }

  .newCon ul li:nth-of-type(1) {
    right: initial;
  }
  .newCon ul li:nth-of-type(2) {
    top: 40rem;
  }
  .newCon ul li:nth-of-type(3) {
    right: initial;
    top: 80rem;
  }
  .rightTwo .btPo li {
    font-size: 1rem;
  }
  #infoCon .twoCol {
    grid-template-rows: 40vh 50vh;
  }
}
/**
  *576px
  */

@media (min-width: 376px) and (max-width: 576px) {
  /*576intro */
  #partners img {
    width: 10rem;
    margin-right: 8rem;
  }

  svg:nth-of-type(1),
  svg:nth-of-type(2),
  svg:nth-of-type(3) {
    transform: translateX(-2rem);
    width: 400px;
  }
  svg:nth-of-type(1) circle,
  svg:nth-of-type(2) circle,
  svg:nth-of-type(3) circle {
    width: 300px;
  }
  .circles svg.start-animation circle.anime1 {
    animation-delay: initial;
  }
  .circles svg.start-animation text.text1 {
    animation-delay: 2s;
  }
  .circles svg.start-animation circle.anime2 {
    animation-delay: 2s;
  }
  .circles svg.start-animation text.text2 {
    animation-delay: 4s;
  }
  .circles svg.start-animation circle.anime3 {
    animation-delay: 4s;
  }
  .circles svg.start-animation text.text3 {
    animation-delay: 6s;
  }
  #subIntro .img-box:nth-of-type(1) {
    width: 100%;
  }
  .introWrap .circles + h3 {
    font-size: 1.5rem;
    font-weight: initial;
    line-height: 1.8;
  }
  #subIntro .imgs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 10rem;
    column-gap: 0;
    padding-bottom: 7rem;
    margin-top: 12rem;
  }
  #subIntro {
    background-size: 120%;
    background-position: 10% 10%;
  }
  #subIntro .img-box:nth-of-type(3) {
    grid-column: initial;
  }
  #subIntro .subText h3 {
    top: 33%;
    font-size: 1.2rem;
  }
  .subText h3 {
    top: 37%;
    font-weight: lighter;
    font-size: 1.3rem;
  }
  #intro {
    padding-bottom: 10rem;
  }

  .introText {
    padding: 7rem 2rem 0rem;
  }
  .introText h2 {
    font-size: 5rem;
  }
  .introText h3 {
    font-size: 2rem;
    margin-top: 0.1rem;
  }
  #partners .mainText2 {
    width: 80%;
  }

  .groupText {
    top: 67%;
  }
  .groupText .imgText ~ p {
    font-size: 1.5rem;
  }
  .groupText .imgText img {
    right: 8rem;
  }
  #partners {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .backtoTop {
    bottom: 3rem;
  }
  /* 576business */
  #bus {
    padding-top: 0;
    padding-bottom: var(--Bottom-03);
  }
  #dragBtn {
    width: 25%;
  }
  .itemHead .dropBtn {
    font-size: 1rem;
  }

  #value {
    padding-top: var(--Top-03);
    padding-bottom: var(--Bottom-03);
  }
  #value .mainText2 {
    width: 80%;
  }
  .valueimgs {
    grid-template-columns: 350px 250px 250px 350px;
    gap: 2rem;
    transform: translate(15%, 10%);
  }
  .imgWith {
    height: 30vh;
  }
  .imgWith .imgText {
    bottom: 1.5rem;
    left: 1.5rem;
  }
  .imgWith .imgText p {
    font-size: 1rem;
  }
  .imgWith .imgText p + h2 {
    font-size: 0.8rem;
  }
  .innoCon1 {
    width: 10%;
  }
  .innoCon1 img {
    width: 200px;
    height: 200px;
  }
  .innoCon2 {
    padding: 1rem;
    width: 20%;
  }
  .innoCon2 ul {
    margin-left: 0;
  }
  .innoCon2 ul li img {
    width: 60%;
  }
  .innoCon2 ul li:nth-of-type(3) img:not(.plusIcon) {
    width: 45%;
  }
  .innoCon2 .num {
    font-size: 2rem;
  }
  #innoGood .wrapCenter {
    padding: 2rem;
    gap: 3rem;
    margin-top: -4rem;
    grid-template-columns: 1fr;
  }
  #innoGood h3 {
    font-size: 2.5rem;
    text-align: center;
  }
  .innoText li {
    font-size: 1.3rem;
  }
  .busContent ul {
    gap: 1.5rem;
  }
  .busContent li .itemHead {
    margin: 0 2rem;
    height: 55px;
  }

  .itemHead span {
    width: 2rem;
    font-size: 0.8rem;
    height: 2rem;
  }
  .itemHead strong {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .sticky_parent {
    height: 1000vh;
  }
  .scroll_section {
    touch-action: pan-x; /*터치?*/
    width: 1000vw;
    margin-top: 2.5rem;
  }
  .innoCon3 {
    width: 27%;
  }
  .innoCon3 img {
    width: 400px;
    height: 250px;
  }
  .innoCon1 p {
    font-size: 1rem;
    padding: initial;
    padding: 2rem 2rem 0;
    word-break: keep-all;
  }
  .innoCon2 ul {
    gap: 2rem;
  }
  .innoCon2 ul li:first-child .plusIcon {
    right: 30px;
    bottom: 70px;
    width: 10%;
  }

  .innoCon2 ul li:nth-of-type(2) .plusIcon,
  .innoCon2 ul li:nth-of-type(3) .plusIcon {
    bottom: 70px;
    right: 35px;
    width: 10%;
  }
  .innoCon3 h2 {
    font-size: 2rem;
    width: 30%;
  }
  .innoCon3 p {
    font-size: 1.3rem;
  }
  .innoCon2 p {
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
  }
  /* 576esg */
  #esg {
    padding-top: var(--Top-03);
    padding-bottom: var(--Bottom-03);
  }
  .esgIcons .icon:nth-of-type(2) {
    top: 20rem;
  }
  .esgIcons .icon:nth-of-type(3) {
    top: 43rem;
  }
  .esgIcons .icon:nth-of-type(4) {
    top: 66rem;
  }
  #esg > h2 {
    font-size: 1.1rem;
    line-height: 1.7;
  }
  .twoCol .colLeft {
    height: 25vh;
  }
  .twoCol .colLeft .arBtn {
    display: none;
  }
  .twoCol .colLeft p {
    font-size: 1.1rem;
  }
  #respon {
    padding-top: 0rem;
  }
  #report {
    margin-top: var(--Top-03);
    height: 70vh;
  }

  #report .twoCol {
    padding: 2rem 0;
  }
  .reportLeft h2 {
    text-align: center;
  }
  .reportLeft p {
    font-size: 1rem;
    margin-bottom: -3rem;
    text-align: left;
  }
  .reportRight ul {
    gap: 1.5rem;
  }
  .reportRight {
    padding-top: 4rem;
  }
  .reportRight ul li {
    font-size: 1rem;
    grid-template-columns: 1.5fr 0.5fr;
    padding-bottom: 1rem;
  }
  .esgIcons .iconSvg {
    width: 200px;
  }
  .esgIcons h2 {
    font-size: 1.7rem;
  }
  .esgIcons p {
    font-size: 1rem;
  }
  /* 576marketing */
  .newCon ul {
    height: 215vh;
  }
  .newCon ul li:nth-of-type(2) {
    top: 41rem;
  }
  #infoCon h2 {
    font-size: 1.3rem;
  }
  .rightTwo .btPo li {
    font-size: 0.8rem;
  }
}
/***********************

375px
**************************/
@media (max-width: 375px) {
  /*375intro */
  #partners img {
    width: 10rem;
    margin-right: 8rem;
  }

  svg:nth-of-type(1),
  svg:nth-of-type(2),
  svg:nth-of-type(3) {
    transform: translateX(-3rem);
    width: 400px;
  }
  svg:nth-of-type(1) circle,
  svg:nth-of-type(2) circle,
  svg:nth-of-type(3) circle {
    width: 300px;
  }
  #subIntro .img-box:nth-of-type(1) {
    width: 100%;
  }
  .introWrap .circles + h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
  }
  #subIntro .imgs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 10rem;
    column-gap: 0;
    padding-bottom: 7rem;
    margin-top: 12rem;
  }
  #subIntro {
    background-size: 120%;
    background-position: 10% 10%;
  }
  #subIntro .img-box:nth-of-type(3) {
    grid-column: initial;
  }
  #subIntro .subText h3 {
    top: 33%;
    font-size: 1.2rem;
  }
  .subText h3 {
    top: 37%;
    font-weight: lighter;
    font-size: 1.3rem;
  }
  #intro {
    padding-bottom: 10rem;
  }

  .introText {
    padding: 7rem 2rem 0rem;
  }
  .introText h2 {
    font-size: 5rem;
  }
  .introText h3 {
    font-size: 2rem;
    margin-top: 0.1rem;
  }
  #partners .mainText2 {
    width: 80%;
  }

  .groupText {
    top: 67%;
  }
  .groupText .imgText ~ p {
    font-size: 1.5rem;
  }
  .groupText .imgText img {
    right: 8rem;
  }
  #partners {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .backtoTop {
    bottom: 3rem;
  }
  /* 375business */
  #bus {
    padding-top: 0;
    padding-bottom: var(--Bottom-03);
  }
  #dragBtn {
    width: 30%;
  }
  .itemHead .dropBtn {
    font-size: 1rem;
  }

  #value {
    padding-top: var(--Top-03);
    padding-bottom: var(--Bottom-03);
  }
  #value .mainText2 {
    width: 80%;
  }
  .valueimgs {
    grid-template-columns: repeat(4, 300px);
    gap: 2rem;
    transform: translate(20%, 10%);
  }
  .imgWith .imgText {
    bottom: 1.5rem;
    left: 1.5rem;
  }
  .imgWith .imgText p {
    font-size: 1rem;
  }
  .imgWith .imgText p + h2 {
    font-size: 0.8rem;
  }
  .innoCon1 {
    width: 10%;
  }
  .innoCon1 img {
    width: 150px;
    height: 150px;
  }
  .innoCon2 {
    padding: 1rem;
    width: 20%;
  }
  .innoCon2 ul {
    margin-left: 0;
  }
  .innoCon2 ul li img {
    width: 50%;
  }
  .innoCon2 ul li:nth-of-type(3) img:not(.plusIcon) {
    width: 40%;
  }
  .innoCon2 .num {
    font-size: 2rem;
  }
  #innoGood .wrapCenter {
    padding: 2rem;
    gap: 3rem;
    margin-top: -4rem;
    grid-template-columns: 1fr;
  }
  #innoGood h3 {
    font-size: 2rem;
    text-align: center;
  }
  .innoText li {
    font-size: 1.2rem;
  }
  .busContent ul {
    gap: 1.5rem;
  }
  .busContent li .itemHead {
    margin: 0 2rem;
    height: 55px;
  }

  .itemHead span {
    width: 2rem;
    font-size: 0.8rem;
    height: 2rem;
  }
  .itemHead strong {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .sticky_parent {
    height: 1000vh;
  }
  .scroll_section {
    touch-action: pan-x; /*터치?*/
    width: 1000vw;
    margin-top: 2.5rem;
  }
  .innoCon3 {
    width: 27%;
  }
  .innoCon3 img {
    width: 350px;
    height: 200px;
  }
  .innoCon1 p {
    font-size: 1rem;
    padding: initial;
    padding: 2rem 2rem 0;
    word-break: keep-all;
  }
  .innoCon2 ul {
    gap: 2rem;
  }
  .innoCon2 ul li:first-child .plusIcon {
    right: 30px;
    bottom: 70px;
    width: 10%;
  }

  .innoCon2 ul li:nth-of-type(2) .plusIcon,
  .innoCon2 ul li:nth-of-type(3) .plusIcon {
    bottom: 70px;
    right: 35px;
    width: 10%;
  }
  .innoCon3 h2 {
    font-size: 2rem;
    width: 30%;
  }
  .innoCon3 p {
    font-size: 1.2rem;
  }
  .innoCon2 p {
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
  }
  /* 375esg */
  #esg {
    padding-top: var(--Top-03);
    padding-bottom: var(--Bottom-03);
  }
  .esgIcons .icon:nth-of-type(2) {
    top: 20rem;
  }
  .esgIcons .icon:nth-of-type(3) {
    top: 43rem;
  }
  .esgIcons .icon:nth-of-type(4) {
    top: 66rem;
  }
  #esg > h2 {
    font-size: 1.1rem;
    line-height: 1.7;
  }
  .twoCol .colLeft {
    height: 40vh;
  }
  .twoCol .colLeft .arBtn {
    display: none;
  }
  .twoCol .colLeft p {
    font-size: 1.1rem;
  }
  #respon {
    padding-top: 20rem;
  }
  #report {
    margin-top: var(--Top-03);
    height: 95vh;
  }

  #report .twoCol {
    padding: 2rem 0;
  }
  .reportLeft h2 {
    text-align: center;
  }
  .reportLeft p {
    font-size: 1rem;
    margin-bottom: -3rem;
    text-align: left;
  }
  .reportRight ul {
    gap: 1.5rem;
  }
  .reportRight {
    padding-top: 4rem;
  }
  .reportRight ul li {
    font-size: 1rem;
    grid-template-columns: 1.5fr 0.5fr;
    padding-bottom: 1rem;
  }
  .esgIcons .iconSvg {
    width: 200px;
  }
  .esgIcons h2 {
    font-size: 1.7rem;
  }
  .esgIcons p {
    font-size: 1rem;
  }
  /* 375marketing */
  .stikyCo {
    padding-top: 8rem;
  }
  .stikyCo .mainText2 {
    height: 50px;
    margin-bottom: 4rem;
  }
  .newsText h2 {
    font-size: 1rem;
  }
  .newCon {
    width: 80%;
    margin: 0 auto;
  }
  .newCon ul {
    width: 500px;
    margin: 0 auto;
    height: 230vh;
    min-height: initial;
  }
  .newCon ul li {
    width: 100%;
    height: initial;
  }
  .newCon ul li:nth-of-type(2) {
    top: 32rem;
  }
  .newCon ul li:nth-of-type(3) {
    top: 64rem;
  }
  .newCon figure {
    height: 45vh;
  }

  #infoCon h2 {
    font-size: 1.1rem;
  }
  #infoCon .twoCol {
    width: 80%;
    padding: 5rem 0;
    grid-template-rows: 50vh;
  }
  .twoCol .infoConLeft {
    padding: 1.3rem 0 0 1.3rem;
  }
  .infoConRight .rightOne,
  .infoConRight .rightTwo {
    height: 30vh;
    padding: 1rem;
  }
  .rightTwo .btPo li {
    font-size: 0.8rem;
  }
  #infoCon {
    padding-bottom: 0;
  }
}

/***********************

320px
**************************/
@media (max-width: 320px) {
  .mainText2 h2 {
    font-size: 2rem;
  }
  .mainText2 h5 {
    font-size: 1.5rem;
    margin-top: 1rem;
    word-break: keep-all;
  }
  /* 320intro */

  svg:nth-of-type(1),
  svg:nth-of-type(2),
  svg:nth-of-type(3) {
    transform: translateX(-1.5rem);
    width: 300px;
  }
  #intro {
    padding-bottom: var(--Bottom-03);
  }
  .introText h2 {
    font-size: 3rem;
  }
  .introText h3 {
    font-size: 1.5rem;
  }
  .introWrap .circles + h3 {
    font-size: 1.1rem;
  }

  .text.head {
    font-size: 1.2rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .subText h3 {
    font-size: 1.2rem;
    top: 35%;
  }
  #subIntro {
    background-position: 5% 10%;
  }
  #subIntro .imgs {
    row-gap: 10rem;
    max-height: initial;
    padding-bottom: 5rem;
    margin-top: 12rem;
  }
  #subIntro .subText h3 {
    top: 34%;
    font-size: 1rem;
  }
  #partners {
    padding-top: var(--Top-03);
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10rem;
  }
  .partner01,
  .partner02 {
    margin-top: 7rem;
  }
  .groupText {
    top: 70%;
  }
  .groupText .imgText ~ p {
    font-size: 1rem;
  }
  .groupText .imgText img {
    right: 2rem;
  }
  /* 320 business*/
  .sticky_parent .mainText2 {
    margin-top: 10rem;
  }
  .innoCon1 {
    width: 12%;
  }
  #innoGood h3 {
    margin-top: 3rem;
    font-size: 1.8rem;
  }
  .innoText li:not(:last-child) {
    margin-bottom: 2rem;
  }
  #innoGood {
    height: 120vh;
  }

  .innoCon1 img {
    width: 130px;
    height: 130px;
  }
  .innoCon2 ul li img {
    width: 40%;
  }
  .innoCon2 ul li:nth-of-type(3) img:not(.plusIcon){
    width:35%;
  }
  .innoCon3 img {
    width: 250px;
    height: 150px;
  }
  .innoCon3 h2 {
    font-size: 1.5rem;
  }
  .innoCon3 p {
    font-size: 1rem;
  }
  /* 320esg*/

  #respon {
    padding-top: 36rem;
  }
  .swiper {
    margin-top: 3rem;
  }
  #report {
    height: 130vh;
  }
  /* 320marketing */
  .newCon ul {
    height: 260vh;
  }
  .newCon ul li:nth-of-type(2) {
    top: 25rem;
  }
  .newCon ul li:nth-of-type(3) {
    top: 50rem;
  }
  #infoCon .twoCol {
    grid-template-rows: 60vh;
  }
  .infoConRight .rightOne,
  .infoConRight .rightTwo {
    height: 40vh;
    padding: 1rem;
  }
}
